body{
    margin: 0;
}
.cambios-solicitados {
  width: 80%;
  margin: 0 auto;
}

.main-header{
  display: flex;
  background-color: black;
  justify-content: center;
  color: white;
}

.main-header ul{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-header ul li{
    list-style: none;
    color: white;
}

.main-header ul li a{
    font-weight: 700;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.625rem;
    color: white;
}

.receta{
  border: 0.2rem solid black;
  border-radius: 2em 0;
  -moz-border-radius: 2em 0;
  padding-left: 3.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3.125rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.receta h3{
  text-align: center;
  font-size: 1.3rem;
}

.receta img{
  display: block;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  height: 15.625rem;
  object-fit: cover;
}

.formulario{
  background-color: rgb(232, 228, 228);
  padding: 3rem;
  border: 0.2rem solid black;
  margin: 3rem;
}

.linea-formulario{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.linea-formulario label{
  width: 5rem;
  margin-right: 0.625rem;
}

.linea-formulario input:not(#mensaje){
  width: 15.625rem;
  padding: 0.4rem;
}

#mensaje{
  width: 25rem;
  height: 5rem;
  padding: 0.4rem;
}

.botones-formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 5.625rem;
  margin-right: 41rem;
}

.botones-formulario button{
  width: 100%;
  padding: 0.625rem;
  cursor: pointer;
}

/* 16px = 1rem */